@model BaristaHome.Models.User

@{
    ViewData["Title"] = "Details";
}

@*View details, worker controller*@

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.RoleId == (1))
            {
                <p>Worker</p>
            }
            else
            {
                <p>Owner</p>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wage)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserDescription)
        </dd>
    </dl>
</div>
<div>
@*    <a asp-action="Edit" asp-route-id="@Model?.UserId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
