@model IEnumerable<BaristaHome.Models.User>

@{
    ViewData["Title"] = "Worker Management •";
}

@*index page for worker controller*@
<style>
    a {
        color: inherit;
        text-decoration: none;
    }

    .page-title {
        display: inline-block;
        padding-bottom: 30px;
        font-size: 30px;
        padding-left: 20px;
        font-weight: 500;
    }

    .pink-button {
        background-color: #ffdcf4;
        color: black;
        border: none;
        height: 50px;
        width: 200px;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 0.15s, color 0.15s;
        padding: 0.8rem 1.8rem;
    }

    .pink-button:hover {
        background-color: lightpink;
        cursor: pointer;
    }

    .pink-button:active {
        background-color: rgba(219, 113, 152, 0.67);
    }

    .background {
        background-color: antiquewhite;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .page-title-and-button{
        display:flex;
        justify-content: space-between;
    }


    .profile-pic {
        border-radius: 50px;
        height: 50px;
        width: 50px;
        object-fit: cover;
    }
    
    .employee-name{
        font-weight:bold;
    }

    .employee-role{
        color:rgba(80,80,80, 1);
    }

    .center {
        width: 75%;
        text-align: center;
    }
</style>

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
        <a class="nav-link pink-button-left" asp-controller="Home" asp-action="Index">Back</a>

        <div class="center">
            <h1 class="title">Worker Management</h1>
        </div>
    </nav>
</header>

<div style="padding-left: 200px; padding-right:200px;  padding-top: 50px;">

    <div class="background">
        <div class="page-title-and-button">
            <p class="page-title">Manage Workers</p>
                <a class="pink-button" asp-controller="Worker" asp-action="Invite">Invite an Employee</a>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p>Worker</p>
                    </th>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Email</p>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if (item.UserImageData == null)
                            {
                                <img class="profile-pic" src="../images/default-profile-pic.jpg">
                            }
                            else
                            {
                                <img class="profile-pic" src="@Url.Action("RenderImage", new { id = item.UserId})" />
                            }
                        </td>
                        <td>
                            <div class="employee-name">
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.LastName)
                            </div>
                            <div class="employee-role">
                                @if (item.RoleId == 1)
                                {
                                    <p>Worker</p>
                                }
                                else if (item.RoleId == 2)
                                {
                                    <p>Manager</p>
                                }
                                else
                                {
                                    <p>Owner</p>
                                }
                            </div>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>

                        <td>
                            @if (item.RoleId == 3)
                            {
                                <a asp-action="OwnerSelfEdit" asp-route-id="@item.UserId">Edit</a>
                            }
                            else
                            {
                                <a asp-action="OwnerEdit" asp-route-id="@item.UserId">Edit</a>
                            }
                            |
                            <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



