@model IEnumerable<BaristaHome.Models.User>

@{
    ViewData["Title"] = "Index";
}

@*index page for worker controller*@
<style>
    a {
        color: inherit;
        text-decoration: none;
    }

    .page-title {
        display: inline-block;
        padding-bottom: 30px;
        font-size: 30px;
        padding-left: 20px;
        font-weight: 500;
    }

    .pink-button {
        background-color: pink;
        color: black;
        border: none;
        height: 50px;
        width: 200px;
        box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.15);
        transition: background-color 0.15s, color 0.15s;
    }

    .pink-button:hover {
        background-color: lightpink;
        cursor: pointer;
    }

    .pink-button:active {
        background-color: rgba(219, 113, 152, 0.67);
    }

    .background {
        background-color: antiquewhite;
        box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .page-title-and-button{
        display:flex;
        justify-content: space-between;
    }
</style>

<button style = "width: 70px; height: 40px; margin-bottom: 10px;" class="pink-button">
    <a asp-controller="Home" asp-action="Index">Back</a>
</button>

<div class="background">
    <div class="page-title-and-button">
        <p class="page-title">Manage Workers</p>
        <button class="pink-button">
            <a asp-controller="Worker" asp-action="Invite">Invite an Employee</a>
        </button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (item.RoleId == 1)
                        {
                            <p>Worker</p>
                        }
                        else if (item.RoleId == 2)
                        {
                            <p>Owner</p>
                        }
                        else
                        {
                            <p>Manager</p>
                        }
                    </td>
                    <td>
                        @if (item.RoleId == 2)
                        {
                            <a asp-action="OwnerSelfEdit" asp-route-id="@item.UserId">Edit</a>
                        }
                        else
                        {
                            <a asp-action="OwnerEdit" asp-route-id="@item.UserId">Edit</a>
                        }
                        |
                        <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

