@model IEnumerable<BaristaHome.Models.Shift>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartShift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndShift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShiftDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartShift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndShift)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.StoreId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ShiftId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ShiftId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ShiftId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
