@model IEnumerable<BaristaHome.Models.ShiftSwappingRequest>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderShift)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipientShift)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderShift.ShiftId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipientShift.ShiftId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
