@model IEnumerable<BaristaHome.Models.Drink>
@{
    ViewData["Title"] = "Menu";
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barista Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" /> <!--Stylesheet-->

    <!--Bootstrap imports-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="" asp-action="">Logout</a>
            <div class="center">
                <h1 class="title">Menu</h1>
            </div>
            <a class="nav-link pink-button-right" asp-area="" asp-controller="" asp-action="">Stats</a>
        </nav>
    </header>

    <div align="center">
        @*For search bar and filters button*@
        <div class="searchFilter">
            <div class="filter">
                <!-- Button trigger modal -->
                <button type="button" class="btn addTag" data-toggle="modal" data-target="#exampleModalCenter">
                  Filters
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Select Tags to Filter From </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                          @{
                              var myList = ViewBag.TagList==null ? new List<Tag>() : (List<Tag>)ViewBag.TagList;

                              if(myList.Any()) {
                                 foreach(var t in myList) {
                                     <button type="button" class="btn addTag">@t.TagName</button>
                                 }
                              }
                            }                      
                                                 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn addTag">Select</button>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>

        @*Display Drinks*@
        <div class="drinks">
            @foreach (var item in Model) {
                <a asp-action="Drink" asp-route-id="@item.DrinkId" class="drink-item">
                    @*Drink image*@
                    <div class="drink-icon">
                        @*Display default icon if drink has no image*@
                        @if(item.DrinkImageData ==null)
                        {
                            <img class="drink-icon image" src="../images/calendar.png">
                        }
                        else
                        {
                            <img class="drink-icon image" src="@Url.Action("RenderImage", new { id = item.DrinkId})" />
                        }
                    </div>
                                        @*Drink Name*@
                    <div class="drink-name">
                        @Html.DisplayFor(modelItem => item.DrinkName)
                    </div>
                </a>
            }
            @*Add Drink Button*@
            <a class="nav-link drink-item" asp-area="" asp-controller="menu" asp-action="AddItem">
                <img src="../images/plus.png" style="width: 50px;height: 50px;object-fit: contain;">
            </a>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Barista Home - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>