@*Selina*@
@model BaristaHome.Models.ChecklistViewModel
@{
    ViewData["Title"] = "Checklist";
}

<!DOCTYPE html>

    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] • Barista Home</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" /> <!--Stylesheet-->
        

        <!--Bootstrap Imports-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="~/css/Checklist.css" asp-append-version="true" /> 

        <!-- Displaying error message if a new checklist could not be added-->
        @if (TempData["addChecklistError"] != null)
        {
            <script>
                $(document).ready(function () {
                    alert('@TempData["addChecklistError"]');
                });
            </script>
        }
    </head>


    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
                <a class="nav-link pink-button-left" asp-area="" asp-controller="" asp-action="">Back</a>
                <div class="center">
                    <h1 class="title">Checklist</h1>
                </div>

                @*Creates a checklist*@
                <!-- Button trigger modal -->
                <button class="nav-link pink-button-right" data-toggle="modal" data-target="#addChecklist" style="outline:none; border:none">
                    Create
                </button>

                <!-- Modal -->
                <div class="modal fade" id="addChecklist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Create Checklist</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form method="post" autocomplete="off">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="modal-body">
                                    <label>Title</label>
                                    <input name="ChecklistTitle" placeholder="Enter a new checklist name" class="form-control" style="text-transform: capitalize;" required />

                                </div>
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-function">Create</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        @*Shows all the existing checklists in the store*@
        <div class="card-columns">
            @{
                var myList = Model.ChecklistInfo == null ? new Dictionary<Checklist, List<int>>() : (Dictionary<Checklist, List<int>>) Model.ChecklistInfo;
                if (myList.Any())
                {
                    foreach (var c in myList)
                    {
                        <div class="card">
                            @*Name of the checklist*@
                            <a asp-action="ViewChecklist" asp-route-id="@c.Key.ChecklistId">
                                <div class="card-header header-color text-black">@c.Key.ChecklistTitle</div>
                            </a>
                            <div class="card-body">
                                @*Shows the # of categories and tasks in a checklist*@
                                <p class="card-text"># of Categories: @c.Value.ElementAt(0)</p>
                                <p class="card-text"># of Task(s): @c.Value.ElementAt(1)</p>
                                @*<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>*@

                                <a class="btn btn-function" asp-action="EditChecklist" asp-route-id="@c.Key.ChecklistId">Edit</a>
                                <a class="btn btn-function" asp-action="MarkChecklist">Mark</a>

                                <button class="btn btn-function" data-toggle="modal" data-target="#deleteChecklist-@c.Key.ChecklistId" data-mdb-toggle="modal">Delete</button>


                                <!--Delete Checklist Modal-->
                                <div class="modal fade" id="deleteChecklist-@c.Key.ChecklistId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete Checklist</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <form asp-action="DeleteChecklist">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <!--Binding  for Checklist (ensure name is same as model's property name, case insensitive)-->
                                                    <input name="checklistId" type="hidden" value="@c.Key.ChecklistId" />

                                                    <h3>Are you sure about that?</h3>
                                                    <h5>This will delete every category and tasks within this checklist!</h5>

                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-function" asp-route-id="@c.Key.ChecklistId" asp-action="DeleteChecklist">Delete</button>
                                                        <button class="btn btn-function" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <!--Pretty import one liner that prevents POSTing from happening upon invalid inputs-->
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }
    </body>
</html>