@model BaristaHome.Models.CategoryViewModel

@{
    ViewData["Title"] = "Edit Checklist";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] • Barista Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Checklist.css" asp-append-version="true" />

    @*Boostrap imports for category and task view*@
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    <!--Displaying error message for category post methods-->
    @if (TempData["editChecklistError"] != null)
    {
        <script>
            window.onload = function () {
                alert('@TempData["editChecklistError"]');
            }
        </script>
    }

    @if (TempData["addCategoryError"] != null)
    {
        <script>
            window.onload = function() {
                alert('@TempData["addCategoryError"]');
            }
        </script>
    }
    @if (TempData["editCategoryError"] != null)
    {
        <script>
            window.onload = function() {
                alert('@TempData["editCategoryError"]');
            }
        </script>
    }
    <!--For Tasks-->
    @if (TempData["addTaskError"] != null)
    {
        <script>
            window.onload = function() {
                alert('@TempData["addTaskError"]');
            }
        </script>
    }
    @if (TempData["editTaskError"] != null)
    {
        <script>
            window.onload = function() {
                alert('@TempData["editTaskError"]');
            }
        </script>
    }
</head>

<body>
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="Checklist" asp-action="Checklist">Back</a>

            <div class="center">
                <h1 class="title">Edit Checklist</h1>
            </div>

            <button class="pink-button-right" data-toggle="modal" data-target="#addCategory-@Model.ChecklistId" data-mdb-toggle="addCategory" style="outline:none; border:none">Add Category</button>

            <!--Add Category Modal-->
            <div class="modal fade" id="addCategory-@Model.ChecklistId" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            <form asp-action="AddCategory" autocomplete="off">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <!--Binding  for Checklist (ensure name is same as model's property name, case insensitive)-->
                                <input name="checklistId" type="hidden" value="@Html.DisplayFor(model => model.ChecklistId)" />

                                <label>Name</label>
                                <input name="categoryName" placeholder="Enter a new category name" class="form-control" required />

                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-function">Create</button>
                                    <button class="btn btn-function" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </header>

    <div class="container" align="center">
        @*Checklist name*@
        <button class="title list-group-item list-group-item-action header-color text-black" data-toggle="modal" data-target="#@Model.ChecklistId">@Html.DisplayFor(model => model.ChecklistTitle)</button>
        <p> </p>
    </div>

    <!--Edit Checklist Modal-->
    <div class="modal fade" id="@Model.ChecklistId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Checklist</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form method="post" autocomplete="off">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <!--Binding for Checklist (ensure name is same as model's property name, case insensitive)-->
                        <input name="checklistId" type="hidden" value="@Html.DisplayFor(model => model.ChecklistId)" />
                        <input name="storeId" type="hidden" value="@User.FindFirst("StoreId").Value" />

                        <label>Title</label>
                        <input name="checklistTitle" placeholder="@Html.DisplayFor(model => model.ChecklistTitle)" class="form-control" style="text-transform: capitalize;" required  />

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-function">Create</button>
                            <button class="btn btn-function" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @*Checklist categories and store tasks*@
    <div class="checklist-info container">
        @{
            var categoryTasks = Model.CategoryTasks == null ? new Dictionary<Category, List<TaskViewModel>>() : (Dictionary<Category, List<TaskViewModel>>)Model.CategoryTasks;
            if (categoryTasks.Any())
            {
                @*Displaying each category name*@
                foreach (var c in categoryTasks)
                {
                    <div class="list-group">
                        <a id="@c.Key.CategoryId" data-toggle="modal" data-target="#editCategory-@c.Key.CategoryId" href="#" class="list-group-item list-group-item-action header-color text-black">@c.Key.CategoryName</a>

                        <!--Edit Category Modal (Ensure id's for modal button and modal form are unique in order to display each categories' respective ids)-->
                        <div class="modal fade" id="editCategory-@c.Key.CategoryId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit Category</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form asp-action="EditCategory" autocomplete="off">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <!--Binding for Category-->
                                            <input name="checklistId" type="hidden" value="@Html.DisplayFor(model => model.ChecklistId)" />
                                            <input name="categoryId" type="hidden" value="@c.Key.CategoryId" />

                                            <label>Name</label>
                                            <input name="categoryName" placeholder="@c.Key.CategoryName" class="form-control" required />

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-function">Edit</button>
                                                <button class="btn btn-function" data-dismiss="modal" data-toggle="modal" data-target="#deleteCategory-@c.Key.CategoryId">Delete</button>
                                                <button class="btn btn-function" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Delete Category Modal-->
                        <div class="modal fade" id="deleteCategory-@c.Key.CategoryId" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete Category</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form asp-action="DeleteCategory" autocomplete="off">
                                            <input name="checklistId" type="hidden" value="@Html.DisplayFor(model => model.ChecklistId)" />
                                            <input name="categoryId" type="hidden" value="@c.Key.CategoryId" />

                                            <h3>Delete '@c.Key.CategoryName'?</h3>
                                            <h5>This will delete every tasks within this category!</h5>

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-function">Delete</button>
                                                <button class="btn btn-function" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @{
                            @*Displaying all tasks of respective category*@
                            foreach (var t in c.Value)
                            {
                                <!-- This amazing random table is purely to add a checked image next to the task :D -->
                                <table class="table-inventory">
                                    <tr>

                                    @if (t.IsFinished) {
                                        <td class="list-group-item list-group-item-action" id="@t.StoreTaskId" data-toggle="modal" data-target="#editModal-@c.Key.CategoryId-@t.StoreTaskId" data-mdb-toggle="editTask">
                                            ✔️ @t.TaskName Marked: @t.IsFinished
                                        </td>
                                    } else {
                                        <td class="list-group-item list-group-item-action" id="@t.StoreTaskId" data-toggle="modal" data-target="#editModal-@c.Key.CategoryId-@t.StoreTaskId" data-mdb-toggle="editTask">
                                            ❌ @t.TaskName Marked: @t.IsFinished
                                        </td>
                                    }

                                    @*<td class="image">
                                            <!-- Image to Mark Task -->
                                        <form asp-action="MarkTask">
                                            <a class="img-size " type="submit" asp-route-id="@c.Key.CategoryId-@t.StoreTaskId">
                                                <img src="../../images/cross.png" alt="Mark">
                                            </a>
                                
                                        </form>
                                    </td>*@

                                    <td>
                                        <!-- Image to Mark Task -->
                                        <a class="btn img-size" data-dismiss="modal" data-toggle="modal" data-target="#deleteTask-@c.Key.CategoryId-@t.StoreTaskId">
                                            <img src="../../images/cross.png" alt="Delete">
                                        </a>
                                    </td>

                                    </tr>
                                </table>

                                <!-- Edit Task Modal (Ensure id's for modal button and modal form are unique in order to display each categories' respective tasks) -->
                                <div class="modal fade" id="editModal-@c.Key.CategoryId-@t.StoreTaskId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Edit Task</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <form asp-action="EditTask" autocomplete="off">
                                                    <!--Binding  for Checklist-->
                                                    <input name="checklistId" type="hidden" value="@Html.DisplayFor(model => model.ChecklistId)" />

                                                    <!--Binding for CategoryTask-->
                                                    <input name="categoryId" type="hidden" value="@c.Key.CategoryId" />
                                                    <input name="taskId" type="hidden" value="@t.StoreTaskId" />

                                                    <!--Binding for StoreTask-->
                                                    <label>Description</label>
                                                    <input name="taskName" placeholder="@t.TaskName" class="form-control" style="text-transform: lowercase;" required />

                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-function">Edit</button>
                                                        <button class="btn btn-function" data-dismiss="modal" data-toggle="modal" data-target="#deleteTask-@c.Key.CategoryId-@t.StoreTaskId">Delete</button>
                                                        <button class="btn btn-function" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Delete Task Modal -->
                                <div class="modal fade" id="deleteTask-@c.Key.CategoryId-@t.StoreTaskId" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Delete Task</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <form asp-action="DeleteTask" autocomplete="off">
                                                    <!--Binding  for Checklist-->
                                                    <input name="checklistId" type="hidden" value="@Html.DisplayFor(model => model.ChecklistId)" />

                                                    <!--Binding for CategoryTask-->
                                                    <input name="categoryId" type="hidden" value="@c.Key.CategoryId" />
                                                    <input name="taskId" type="hidden" value="@t.StoreTaskId" />

                                                    <h3>Delete '@t.TaskName'?</h3>

                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-function">Delete</button>
                                                        <button class="btn btn-function" data-dismiss="modal">Close</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <a id="@c.Key.CategoryId" data-toggle="modal" data-target="#addModal-@c.Key.CategoryId" data-mdb-toggle="addTask" href="#" class="list-group-item list-group-item-action">+ Add a new task...</a>

                        <!-- Add Task Modal -->
                        <div class="modal fade" id="addModal-@c.Key.CategoryId" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="addModalLabel">Add Task</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>

                                    <div class="modal-body">
                                        <form asp-action="AddTask" autocomplete="off">
                                            <!--Binding for Category-->
                                            <input name="checklistId" type="hidden" value="@Html.DisplayFor(model => model.ChecklistId)" />
                                            <input name="categoryId" type="hidden" value="@c.Key.CategoryId" />

                                            <!--Input for new task-->
                                            <label>Description</label>
                                            <input name="taskName" placeholder="Enter your new task" class="form-control" style="text-transform: lowercase;" required />

                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-function">Create</button>
                                                <button class="btn btn-function" data-dismiss="modal">Close</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <p> </p>
                    </div>
                }
            }
        }
    </div>

    @*Modals for editing/adding categories and tasks*@

    <!-- Add Category Modal -->
    <div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="newModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newModalLabel">Add Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form asp-action="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="modal-body">
                        <label>Title</label>
                        <input asp-for="ChecklistTitle" class="form-control" />
                        <span asp-validation-for="ChecklistTitle" class="text-danger"></span>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-function">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Pretty import one liner that prevents POSTing from happening upon invalid inputs-->
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
</body>
</html>
