@model BaristaHome.Models.Payroll

@{
    ViewData["Title"] = "Delete";
    Layout = null;
}

<style>
    .medium-btn {
        width: 70px;
        height: 30px;
    }

</style>

<!--Nav bar area-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barista Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Menu.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Inventory.css" asp-append-version="true" />
</head>
<body>
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="" asp-action="">Home</a>
            <div class="center">
                <h1 class="title">Delete Payroll</h1>
            </div>
            <a class="nav-link pink-button-right" asp-area="" asp-controller="Payroll" asp-action="Owner">Payrolls</a>
        </nav>
    </header>

    <div class="container">
        <h3>Are you sure you want to delete this?</h3>

        <div>
            @*<h4>Payroll</h4>*@
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Hours)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Hours)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User)
                </dt>
                <dd class="col-sm-10">
                    @ViewBag.PayrollName
                </dd>
            </dl>

        </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="PayrollId" />
            <input type="submit" value="Delete" class="medium-btn" /> |
            <a asp-action="Owner">Back to List</a>
        </form>
    </div>
</body>
</html>