@model IEnumerable<BaristaHome.Models.PayrollOwnerViewModel>


@{
    ViewData["Title"] = "Owner";
}

<link rel="stylesheet" href="~/css/Inventory.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Payroll Owner</h1>
</div>


<table class="table-inventory">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
           
            var payrollList = ViewBag.Payroll == null ? new List<PayrollOwnerViewModel>() : (List<PayrollOwnerViewModel>)ViewBag.Payroll;
            if (payrollList.Any())
            {
                foreach (var item in payrollList)
                {

                    <tr>
                        <td>
                            @item.FullName
                        </td>
                        <td>
                            @item.Hours
                        </td>
                        <td>
                            @item.Amount
                        </td>
                        <td>
                            @item.Date.ToShortDateString()
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>