@model BaristaHome.Models.User
@{
    ViewData["Title"] = "Worker";
    Layout = null;
}

<div class="text-center">
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Barista Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BaristaHome.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Payroll.css" asp-append-version="true" /> <!--Stylesheet-->
</head>

<body>
    <!--Nav bar area-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#ffdcf4">
            <a class="nav-link pink-button-left" asp-area="" asp-controller="" asp-action="">Back</a>
            <div class="center">
                <a class="text-black title" asp-area="" asp-controller="Payroll" asp-action="Worker">Payroll View</a>
            </div>
        </nav>
    </header>

    <div align="center">
        <div class="worker">
            <div class="picture">
                @*Drink image*@
                <div class="user-icon">
                    @*Display default icon if drink has no image*@
                    @if(Model.UserImageData ==null)
                    {
                        <img class="user-icon image" src="@Url.Content("~/images/calendar.png")"> //Default image display
                       
                    }
                    else
                    {
                        <img class="user-icon image" src="@Url.Action("RenderImage", new { id = Model.UserId})" />
                    }
                </div>
            </div>
            <div class="name-area">
                <div class="name">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</div>
            </div>
        </div>

        <div class="information">
            <table class="table-payroll" style="width:100%">
                <form asp-action="Worker">
                    <div class="filter" style="float:left;">
                        <select placeholder="Select Month" name="month">
                            <option value="">All</option>
                            <option value="1">January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                        <input type="submit" asp-action="Worker" value="Filter" style="fit-content;">
                    </div>
                </form>
                <tr style="background-color:#ffdcf4; height:70px">
                    <td style="width:50%">
                        Date
                    </td>
                    <td style="width:20%">Hours</td>
                    <td style="width:30%">Amount</td>
                </tr>
                @{
                    var myList = ViewBag.PayrollList==null ? new List<Payroll>() : (List<Payroll>)ViewBag.PayrollList;
                    if(myList.Any()) {
                        foreach(var p in myList) {
                            <tr style="height:70px">
                                <td style="width:33.33%">@p.Date.Month/@p.Date.Day/@p.Date.Year</td>
                                <td style="width:33.33%">@p.Hours</td>
                                <td style="width:33.33%">@p.Amount</td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>


</body>

</html>